@page "/aws"
@inject Jenkins jenkins
@inject IToastService toastService

<h1>
    <span class="bi aws-page-icon ms-3"></span>
</h1>

<PermutationsTable OnOrder="HandleOrder"></PermutationsTable>

@code
{
    private int _errors;

    private async void HandleOrder(OrderPermutation permutation)
    {
        Console.WriteLine($"Ordering Machine in AWS, {permutation}");
        try
        {
            toastService.ShowInfo("Sending your order on a tasty adventure! 🚀");
            await jenkins.OrderPermutation(permutation);
            toastService.ShowSuccess("Your order is getting a tan in the kitchen! 😎🔥");
            // toastService.ShowError("Uh-oh! Your order got a little too toasty and turned into a crispy critter. 💆🔥  ");
        }
        catch (Exception)
        {
            _errors += 1;
            toastService.ShowError("Uh-oh! Your order got a little too toasty and turned into a crispy critter. 💆🔥");
            Console.WriteLine($"Failed to request machine, errors {_errors}");
        }
    }
}